@CHARSET "UTF-8";
#content {
    clear: both;
}
#content, .header, .float-bar, #footer, .wp {
    width: 990px;
    margin: 0 auto;
}
.header {
    padding: 20px 0 40px;
    position: relative;
    height: 35px;
}
#content, .header, .float-bar, #footer, .wp {
    width: 990px;
    margin: 0 auto;
}
#logo {
    float: left;
}
.cart-logo a {
    width: 140px;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    color: #f50;
    position: relative;
    display: inline-block;
}
a {
    color: #3c3c3c;
}
a {
    text-decoration: none;
}
.tb-header .search {
    float: right;
}
.tb-header .search {
    padding: 0;
}
.tb-header .search-triggers {
    position: relative;
    z-index: 1000;
}
.tb-header .search-triggers .ks-switchable-nav {
    width: 74px;
    position: absolute;
    z-index: 1;
    left: 3px;
    top: 3px;
    height: 29px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #f5f5f5;
    _overflow: hidden;
}
.tb-header .search-triggers ul {
    overflow: hidden;
    zoom: 1;
}
ol, ul {
    list-style: none;
}
.tb-header .search-triggers li.selected {
    display: block;
}
.tb-header .search-triggers li {
    display: none;
    width: 100%;
    _width: 74px;
    _overflow: hidden;
}
.tb-header .search-triggers li {
    position: relative;
    zoom: 1;
    float: left;
}
.tb-header .search-panel {
    width: 515px;
}
.tb-header .search-panel {
    width: 667px;
}
.tb-header .search-panel {
    position: relative;
    zoom: 1;
}
.tb-header .search-panel .search-button {
    position: relative;
    z-index: 1;
    float: right;
    background: #fff;
    _left: -3px;
}
.tb-header div.search-hp-panel button.btn-search, .tb-header div.search-hp-panel button.btn-search-hover, .tb-header div.search-hp-panel button.btn-search:hover {
    background: url(//gtd.alicdn.com/tps/i1/T1qyj8Fc8aXXc4E9bI-400-300.png);
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    background-image: -webkit-image-set(url(//gtd.alicdn.com/tps/i1/T1qyj8Fc8aXXc4E9bI-400-300.png) 1x,url(//gtd.alicdn.com/tps/i1/T1sPMcFhXXXXX5Ovs7-800-600.png) 2x);
    background-image: -moz-image-set(url(//gtd.alicdn.com/tps/i1/T1qyj8Fc8aXXc4E9bI-400-300.png) 1x,url(//gtd.alicdn.com/tps/i1/T1sPMcFhXXXXX5Ovs7-800-600.png) 2x);
    background-image: -ms-image-set(url(//gtd.alicdn.com/tps/i1/T1qyj8Fc8aXXc4E9bI-400-300.png) 1x,url(//gtd.alicdn.com/tps/i1/T1sPMcFhXXXXX5Ovs7-800-600.png) 2x);
    background-image: -o-image-set(url(//gtd.alicdn.com/tps/i1/T1qyj8Fc8aXXc4E9bI-400-300.png) 1x,url(//gtd.alicdn.com/tps/i1/T1sPMcFhXXXXX5Ovs7-800-600.png) 2x);
    background-repeat: no-repeat;
    background-position: 0 -204px;
}
.tb-header .search-hp-panel button.btn-search {
    background-position: -553px -76px;
    height: 35px;
    width: 93px;
}
.tb-header .search-panel button.btn-search {
    background-position: -180px -76px;
}
.tb-header .search-panel button.btn-searchshop, .tb-header .search-panel button.btn-searchshop:hover, .tb-header .search-panel button.btn-searchshop-hover, .tb-header .search-panel-focused .search-panel-fields input, .tb-header .search-list-panel-focused .search-panel-fields input, .tb-header .search-srp-panel .search-panel-focused .search-panel-fields input, .tb-header .search-panel button.btn-searchall, .tb-header .search-panel button.btn-searchall:hover, .tb-header .search-panel button.btn-searchall-hover, .tb-header .search-panel button.btn-list, .tb-header .search-panel button.btn-search, .tb-header .search-panel button.btn-search:hover, .tb-header .search-panel button.btn-search-hover, .tb-header .search-srp-panel button.btn-search, .tb-header .search-srp-panel button.btn-search:hover, .tb-header .search-srp-panel button.btn-search-hover, .tb-header .search-item-panel button.btn-search, .tb-header .search-item-panel button.btn-search:hover, .tb-header .search-item-panel button.btn-search-hover {
    background-image: url(//gtd.alicdn.com/tps/i1/T1HM4.FalcXXbMnNTw-919-175.png);
    background-repeat: no-repeat;
}
.tb-header .search-panel button {
    cursor: pointer;
    border: 0;
    font-size: 18px;
    text-indent: -999em;
    float: left;
    width: 73px;
    height: 33px;
}
button, input, select, textarea {
    font-size: 100%;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
        font-size: 12px;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.tb-header .search-hp-fields {
    height: 35px;
}
.tb-header .search-panel-focused .search-panel-fields, .tb-header .search-common-panel {
    background: #f50;
}
.tb-header .search-panel-fields {
    height: 33px;
    position: relative;
    zoom: 1;
    background: #e6e6e6;
    overflow: hidden;
}
.tb-header .search-hp-fields .search-combobox {
    margin-left: 79px;
    height: 29px;
}
.tb-header .search-combobox {
    margin-left: 3px;
    margin-right: 0;
    margin-top: 3px;
    height: 27px;
    background: #fff;
}
.search-combobox {
    font-size: 12px;
}
.tb-header .search-hp-fields .search-combobox-input-wrap {
    height: 29px;
}
.tb-header .search-combobox-input-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.search-combobox-input-wrap {
    vertical-align: middle;
    position: relative;
}
.tb-header .search-hp-fields .search-combobox input {
    margin-left: 0;
    text-indent: 10px;
}
.tb-header .search-panel-fields .search-combobox-input-wrap input {
    margin-left: 0;
}
.tb-header .search-panel-fields .search-combobox input {
    left: 0;
    top: 0;
}
.tb-header .search-hp-fields input {
    padding: 5px 0;
}
.tb-header .search-hp-fields label, .tb-header .search-hp-fields input {
    margin-left: 76px;
}
.tb-header .search-panel-fields input {
    left: -3px;
    width: 100%;
    outline: 0;
    padding-right: 3px;
    text-indent: 5px;
    margin-left: 6px;
}
.tb-header .search-panel-fields input {
    font-size: 14px;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 18px;
    line-height: 18px;
    padding: 4px 0;
    background: url(data:image/gif;base64,R0lGODlhAQADAJEAAObm5t3d3ff39wAAACH5BAAAAAAALAAAAAABAAMAAAICDFQAOw==) repeat-x scroll 0 0 transparent vertical-align:middle;
    border: 0 none;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
    border-top: 1px solid #f5f5f5;
    z-index: 2;
}
.search-combobox-input {
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    border: 0;
    color: #000;
    line-height: 18px;
    height: 18px;
    overflow-y: visible;
    font-size: 100%;
}
button, input, select, textarea {
    font-size: 100%;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
        font-size: 12px;
        line-height: 1.5;
}
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
        margin-left: 0px;
    padding: 0;
}
.tb-header .search-panel .search-common-panel i {
    z-index: 2;
    position: absolute;
    top: 13px;
    left: 86px;
    width: 12px;
    height: 12px;
    display: none;
}
.tb-header .search-panel .search-common-panel i {
    background-position: -380px -20px;
    background-image: url(//gtd.alicdn.com/tps/i4/T1OdGtFaxfXXXa78nI-400-200.png);
    background-repeat: no-repeat;
}
.cart {
    min-height: 400px;
}
.cart-filter-bar {
    overflow: hidden;
    font-size: 12px;
    position: relative;
}
.switch-cart {
    overflow: hidden;
    height: 33px;
}
ol, ul {
    list-style: none;
}
.btn-switch-cart {
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    padding: 0 0 15px 0;
    cursor: pointer;
    margin-left: -1px;
}
.icon-freegift, .lottery-tips .arrow, .float-bar-right, .promo-main .promo-activityp, .btn-edit-sku, .icon-announcement, .pre-promos, .pre-promos .arrow, .coupon-popup .ks-ext-close-x, .coupon-amount, .icon-ju11, .item-content .text-amount, .btn-switch-cart, .btn-switch-cart .txt, .promo-ask-btn, .icon-time, .item-icon-list .arrow, .ks-ext-close, .ks-overlay-close, .close, .icon, .cart-filters .active, .cart-filters .active a, .cart-sum .submit-btn, .btn-select-sku, .go-top, .price-promo .promo, .pipe-left, .pipe-right, .add-cart, .carousel .prev, .carousel .next, .group-checkout, .group-expand, .group .group-info .pipe, .select-sku, .select-sku span, .float-bar-wrapper .pipe, .submit-btn b, .float-bar-wrapper, .sku-edit-popup .add-cart, .selected-items-arrow, .icon-invalid, .icon-redemption, .sku-edit-popup .arrow, .small2big-popup .arrow {
    background: transparent url(//gtd.alicdn.com/tps/i4/TB11ctfGVXXXXcmXFXXzEiYRXXX-271-453.png) no-repeat -9999px -9999px;
}
.switch-cart-0 a {
    padding-left: 15px;
}
.btn-switch-cart a {
    padding-left: 25px;
    text-decoration: none;
}
a {
    color: #3c3c3c;
}
a {
    text-decoration: none;
}
.switch-cart .current a em {
    color: #f40;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.btn-switch-cart .number {
    color: #f40;
    font-size: 14px;
    margin: 0 30px 0 5px;
    font-weight: 400;
}
.number, .price {
    font-family: Verdana,Tahoma,arial;
}
.btn-switch-cart .pipe {
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #e8e8e8;
}
.switch-cart .disabled, .switch-cart .disabled a {
    cursor: not-allowed;
}
.btn-switch-cart {
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    padding: 0 0 15px 0;
    cursor: pointer;
    margin-left: -1px;
}
.switch-cart .disabled, .switch-cart .disabled a {
    cursor: not-allowed;
}
.btn-switch-cart a {
    padding-left: 25px;
    text-decoration: none;
}
a {
    color: #3c3c3c;
}
a {
    text-decoration: none;
}
.btn-switch-cart {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
    text-align: center;
    cursor: pointer;
}
.btn-switch-cart .pipe {
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #e8e8e8;
}
.cart-filter-bar .cart-sum {
    position: absolute;
    right: 0;
    top: 0;
    height: 25px;
    line-height: 25px;
}
cart-sum .price {
    color: #404040;
    font-family: Arial,Verdana;
    font-weight: 700;
    margin-right: 5px;
    color: #f40;
}
.number, .price {
    font-family: Verdana,Tahoma,arial;
}
.cart-sum .price em {
    font-family: Verdana,Arial;
    padding-left: 2px;
    font-weight: 700;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.total-symbol {
    font-size: 12px;
    font-weight: 400;
}

.cart-sum .combine-not-supported, .cart-sum .submit-btn-disabled, .cart-sum .combine-not-supported, .cart-sum .submit-btn-disabled:hover {
    background: #f40;
    color: #fff;
}
.cart-sum .submit-btn {
    display: inline-block;
    width: 55px;
    color: #fff;
    background: #f40;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.icon-freegift, .lottery-tips .arrow, .float-bar-right, .promo-main .promo-activityp, .btn-edit-sku, .icon-announcement, .pre-promos, .pre-promos .arrow, .coupon-popup .ks-ext-close-x, .coupon-amount, .icon-ju11, .item-content .text-amount, .btn-switch-cart, .btn-switch-cart .txt, .promo-ask-btn, .icon-time, .item-icon-list .arrow, .ks-ext-close, .ks-overlay-close, .close, .icon, .cart-filters .active, .cart-filters .active a, .cart-sum .submit-btn, .btn-select-sku, .go-top, .price-promo .promo, .pipe-left, .pipe-right, .add-cart, .carousel .prev, .carousel .next, .group-checkout, .group-expand, .group .group-info .pipe, .select-sku, .select-sku span, .float-bar-wrapper .pipe, .submit-btn b, .float-bar-wrapper, .sku-edit-popup .add-cart, .selected-items-arrow, .icon-invalid, .icon-redemption, .sku-edit-popup .arrow, .small2big-popup .arrow {
    background: transparent url(//gtd.alicdn.com/tps/i4/TB11ctfGVXXXXcmXFXXzEiYRXXX-271-453.png) no-repeat -9999px -9999px;
}
a {
    color: #3c3c3c;
}
a {
    text-decoration: none;
}
.wrap-line {
    clear: both;
    background: #e6e6e6;
    height: 2px;
    position: relative;
}
.wrap-line .floater {
    background: #f40;
    height: 2px;
    width: 0px;;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cart-main {
    min-height: 210px;
}
.cart-table-th {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c;
}
#content, .header, .float-bar, #footer, .wp {
    width: 990px;
    margin: 0 auto;
}
.cart-table-th .th-chk {
    font-size: 12px;
    text-align: left;
    position: relative;
    height: 50px;
}
.cart-table-th .th {
    float: left;
}
.th-chk, .td-chk {
    width: 45px;
}
.cart-table-th .th-chk .select-all {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
}
.select-all {
    cursor: pointer;
    _margin-top: -2px;
}
.cart-table-th .th-chk .cart-checkbox, .cart-table-th .th-chk .s-checkbox {
    margin: -1px 0 0 15px;
    _margin-left: 7px;
    *margin-top: 19px;
}
.select-all .cart-checkbox {
    vertical-align: middle;
    margin-top: -2px;
}
.cart-checkbox {
    position: relative;
    display: inline-block;
    *float: left;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.cart-checkbox input {
    z-index: 0;
    left: -20px;
    top: -20px;
}
.cart-checkbox label {
    position: relative;
    z-index: 1;
    float: left;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
}
.cart-table-th .th {
    float: left;
}
.th-item, .td-item {
    width: 302px;
}
.cart-table-th {
    line-height: 50px;
    color: #3c3c3c;
}
.cart-table-th .th-item .td-inner {
    padding-left: 91px;
}

.td-inner {
    padding-top: 20px;
    _zoom: 1;
}
.cart-table-th .th {
    float: left;
}
.th-info, .td-info {
    width: 172px;
    padding-right: 20px;
}
.th .td-inner {
    padding: 0 0 0 10px;
}
.td-inner {
    padding-top: 20px;
    _zoom: 1;
}
.cart-table-th .th {
    float: left;
}
.th-price, .td-price {
    width: 120px;
}
.th .td-inner {
    padding: 0 0 0 10px;
}
.td-inner {
    padding-top: 20px;
    _zoom: 1;
}
.cart-table-th .th {
    float: left;
}
.th-amount, .td-amount {
    width: 120px;
}
.cart-table-th .th {
    float: left;
}
.th-sum, .td-sum {
    width: 105px;
}
.cart-table-th .th {
    float: left;
}
.th-op, .td-op {
    width: 84px;
    padding: 0 0 0 15px;
}
.fixed-bottom {
    bottom: -1px;
    z-index: 9999;
}
.float-bar {
    position: relative;
}
#content, .header, .float-bar, #footer, .wp {
    width: 990px;
    margin: 0 auto;
}
.cl, .clearfix {
    *zoom: 1;
}
.float-bar-wrapper {
    height: 50px;
    overflow: hidden;
}
.float-bar-right, .float-bar-wrapper {
    background: #e5e5e5;
}
.float-bar .select-all {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
}
.select-all {
    cursor: pointer;
    _margin-top: -2px;
}
.float-bar .select-all .cart-checkbox {
    *margin-top: 17px;
}
.select-all .cart-checkbox {
    vertical-align: middle;
    margin-top: -2px;
}
.cart-checkbox {
    position: relative;
    display: inline-block;
    *float: left;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
.float-bar .operations {
    float: left;
    line-height: 50px;
    height: 50px;
}
.float-bar .operations a {
    margin-left: 25px;
    float: left;
}
.float-bar-right {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    padding-left: 20px;
}
.float-bar-right, .float-bar-wrapper {
    background: #e5e5e5;
}
.float-bar .amount-sum {
    cursor: pointer;
    +margin-top: 2px;
}
.float-bar .amount-sum, .float-bar .price-sum {
    height: 48px;
    color: #3c3c3c;
}
.float-bar .amount-sum, .float-bar .price-sum, .float-bar .btn-area {
    float: left;
}
.float-bar .price-sum strong, .float-bar .amount-sum em, .float-bar .price-sum .txt, .float-bar .amount-sum .txt {
    float: left;
}
.float-bar .txt {
    line-height: 48px;
}
.float-bar .amount-sum em {
    line-height: 50px;
    padding: 0 5px;
    +line-height: 45px;
}
.float-bar .price-sum strong, .float-bar .amount-sum em, .float-bar .price-sum .txt, .float-bar .amount-sum .txt {
    float: left;
}
.float-bar .amount-sum em, .float-bar .price-sum .price em {
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.float-bar .pipe {
    float: left;
    margin: 0 10px 0 18px;
    width: 1px;
    height: 12px;
}
.float-bar .amount-sum, .float-bar .price-sum {
    height: 48px;
    color: #3c3c3c;
}
.float-bar .price-sum .price {
    color: #f40;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: Arial;
    vertical-align: middle;
}
.float-bar .price-sum strong, .float-bar .amount-sum em, .float-bar .price-sum .txt, .float-bar .amount-sum .txt {
    float: left;
}
.number, .price {
    font-family: Verdana,Tahoma,arial;
}
.float-bar .price-sum strong, .float-bar .amount-sum em, .float-bar .price-sum .txt, .float-bar .amount-sum .txt {
    float: left;
}
.float-bar .txt {
    line-height: 48px;
}
.float-bar .price-sum .price em {
    font-weight: 700;
    font-size: 22px;
    padding: 0 3px;
}
.float-bar .amount-sum em, .float-bar .price-sum .price em {
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}
address, cite, dfn, em, var {
    font-style: normal;
}
.float-bar .amount-sum, .float-bar .price-sum, .float-bar .btn-area {
    float: left;
}
.float-bar .combine-not-supported:link, .float-bar .combine-not-supported:hover, .float-bar .submit-btn-disabled:link, .float-bar .submit-btn-disabled:hover {
    background: #f40;
    color: #f40;
    border-left: 1px solid #e7e7e7;
    width: 119px;
    text-decoration: none;
}
.float-bar .submit-btn:link {
    color: #fff;
}
.float-bar .submit-btn {
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #f40;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #3c3c3c;
}
a {
    text-decoration: none;
}
.order-content {
    border: 1px solid #ccc;
}

